{% extends 'rest_framework/base.html' %}
{% load url from future %}

{% block title %}Sections{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block section_title %}<h2> My sections </h2>{% endblock %}




{% block page_content %}
<div class= 'container'>

    <div class="wrapper ">
        {% if sections|length == 0 %}
            <p style="text-align: center; font-style: italic;">No sections are found</p>
        {% else %}
        <ul class="section-list">
            {% for section in sections %}
                <div class="row">
                    <div class="col-md-8"><li><a href='/owner/sections/{{ section.id }}'>{{ section.title }}</a></li></div>
                    <div class="col-md-4">

                        <a href="{% url 'question_create' section.id %}" id='create-qs-btn' class="btn  btn-success btn-sm" title="Add question"><i class="fa fa-question-circle"></i> </a>
{#                      <a href="{% url 'section_edit' section.id %}" id='edit-btn' class="btn  btn-primary btn-sm" title="Update section"><i class="fa fa-edit"></i> </a>#}
                        <a href="#" id='delete-btn' class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modal-{{section.id}}" title="Delete section"><i class="fa fa-trash-o"></i></a>
                    </div>
           </div>
            {% endfor %}

        </ul>
        {% endif %}
        <a href="{% url 'section_create' %}" id="create-btn" class="btn  btn-success btn-sm" title="Create"><i class="fa fa-plus"></i> New Section</a>
{#            <button id='create-btn' class="btn  btn-success btn-sm" title="Create"><i class="fa fa-plus"></i> New Section</button>#}

    </div>
</div>

<!-- Modalbox confirmation -->
{% for section in sections %}
<div class="modal fade modal-dialog-center" id="modal-{{section.id}}" tabindex="-1" role="dialog" aria-labelledby="modalBoxConfirmation" aria-hidden="true">
  <div class="modal-dialog">
    <div class="well">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Delete confirmation</h4>
      </div>
        <div class="modal-body">
            <p>Are you sure you want to delete the section: "{{ section.title }}" with all related questions? </p>
        </div>
        <form action="{% url 'section_delete' section.id %}" method="post">{% csrf_token %}
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>

    </div>
</div>
{% endfor %}


{% endblock %}