{% extends 'rest_framework/base.html' %}
{% load static %}
{% load url from future %}

{% block title %}Create new section{% endblock %}
{% block breadcrumbs %}{% endblock %}

{% block section_title %}<h3 class="col-md-offset-3">Create new section</h3>{% endblock %}

{% block page_content %}
<div class="well col-md-6 col-md-offset-3">
    <form method="post">{% csrf_token %}
        <div class="form-group">
            <label for="id_title">Section title: </label>
            <input id="id_title" type="text" name="title" class="form-control" placeholder="Section title">
        </div>
        <div class="form-group">
            <label for="id_category" >Category: </label>
            <select id ="id_category" name="category" class="form-control">
                {% for value,data in form.fields.category.choices %}
                    <option value="{{ value }}">{{ data }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="id_description">Description: </label>
            <textarea id="id_description" name="description" class="form-control" rows="3"></textarea>
        </div>

        <div class="form-group">
            <label for="id_video_url">Video URL: </label>
            <input id="id_video_url" type="url" name="video_url" class="form-control" placeholder="Youtube URL">
{#            <span id='upload-video' class="btn  btn-primary btn-sm" title="Upload"><i class="fa fa-upload"></i> Upload</span>#}
        </div>
        <div class="row pull-right" style="margin-right: 1px;">
            <button id='create-section-btn' class="btn  btn-success btn-sm" type="submit" title="Create"><i class="fa fa-plus"></i> Create</button>
            <a href="{% url 'owner-section-list' %}" id='cancel-btn' class="btn  btn-default btn-sm" title="Cancel"><i class="fa fa-times"></i> Cancel</a>
        </div>
    </form>
</div>



<div id="video-container" class="container col-md-6" style="display: none;">
    <div class="videocontent embed-responsive embed-responsive-16by9">
        <video id="my-video" src="" class="video-js vjs-default-skin vjs-big-play-centered embed-responsive-item" controls preload="auto" width='auto' height='auto'
        data-setup='{ "techOrder": ["youtube"], "src": "https://www.youtube.com/watch?v=L-99RfyMCVU","seek_param": "time" }'>
        </video>
     </div>
</div>

{#<script type="text/javascript">#}
{#    var videoURL;#}
{#    $("#upload-video").click(function(){#}
{#        videoURL = $("#id_video_url").val();#}
{#        var videoBlock = '<video id="my-video" src="" class="video-js vjs-default-skin vjs-big-play-centered embed-responsive-item" controls preload=\'auto\' width=\'auto\' height="auto" data-setup= \' { "techOrder": ["youtube"], "src": "https://www.youtube.com/watch?v=L-99RfyMCVU","seek_param": "time" } \' ></video>';#}
{#        $("#video-container").css('display','block');#}
{#        $("#video-container .videocontent").append(videoBlock);#}
{##}
{#    });#}
{#</script>#}

{% endblock %}